{% extends "./backend/pages/base.html" %}
{% block title %} Games{% endblock %}
{% block head %}
<link href="/css/games.css?v={{version}}" rel="stylesheet">
{% endblock %}
{% block app %}
<div class="page">
<header>
<h1 > Available Games</h1>
{% if games|length > 0 %}
<nav><span class="filter clickable">All</span> | <span class="filter clickable">Open</span> | <span class="filter clickable">Won</span> | <span class="filter clickable" >Failed</span></nav>
{% endif %}
</header>
<main class="game-list">
{% for g in games %}
    <a class="game shadowed {{g.status}}" href="/games/{{g.id}}">
        <div class="ribbon"><span>{{g.status}}</span></div>
        <span>X</span>
        <img src="/images/simoncolor.png">
        <div class="game-bottom">
            {{g.name}}
        </div>
        {%if g.creator == currentPlayer%}
        <div class="delete">
            Delete
        </div>
        {% endif %}
    </a>
{% else %}
    <div class="no-games">No available games :(</div>
{% endfor %}
</main>
<footer>
    <form method="POST" action="/games">
        <h3>New Game</h3>
        <label>Name:<input type="text" name="name" required></label>
        <input type="submit" class="clickable" value="Create" />
    </form>
    <a id="scoreboard" href="/scoreboard"><span id="scoreboard-click">Scoreboard</span></a>
</footer>
</div>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="/js/filter_and_delete.js"></script>
{% endblock %}