{% extends "./backend/pages/base.html" %}
{% block title %} Start {% endblock %}
{% block head %}
<link href="/css/index.css?v={{version}}" rel="stylesheet">
{% endblock %}
{% block app %}

<img class="colored-simon" src="/images/simoncolor.png">
<div class="wrapper">
    <div class="modal shadowed">
        <h1 > Select your user</h1>
        <form action="/players" method="POST">
            <label>Name<input type="text" name="name" required></label>
            <select name="avatar">
                <option value="Angry Al">Angry Al</option>
                <option value="Mr Fish">Mr Fish</option>
                <option value="Slow Snail">The slow Snail</option>
                <option value="Fine frog">Fine frog</option>
                <option value="Groovy goat">Groovy goat</option>
              </select>
            <input class="modal-btn clickable" type="submit" value="Go">
        </form>
    </div>
</div>

{% endblock %}