.page{
    display: flex;
    flex-direction: column;
    height:100vh;
}

h1{
    text-align: center;
}

.scoreboard{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.return{
    color: black;
}

.return:hover{
    color: #b6261b;
}

footer{
    text-align: center;
}

li{
    margin: 10px;
}